.dropzone {
    height: auto;
    height: calc(40vh - 90px);
    min-height: 10em;
    background-color: #fbfbfb;
    border: 2px dashed #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.8em;
    color: #555;
}

.icon {
    opacity: 0.3;
    height: 2em;
    width: 2em;
}

.upload {
    display: none !important;
}

.highlight {
    background-color: rgba(171, 185, 240, 0.5);
}

.disabled {
    background-color: whitesmoke;
}