/* General */

mark {
    padding: 0rem;
    background-color: #FFC40D;
}

/* Margins */

.mg-b-small {
    margin-bottom: 0.5rem;
}

.mg-b-med {
    margin-bottom: 1rem;;
}

.mg-b-large {
    margin-bottom: 2rem;
}

/* Padding */
/* 4 values: top, right, bottom, left */
/* 3 values: top, right left, bottom */
/* 2 values: top bottom, right left */
/* 1 value: all */

.pad-b-small {
    padding: 0 0 0.5rem;
}

.pad-b-med {
    padding: 0 0 1rem;
}

.pad-b-large {
    padding: 0 0 2rem;
}

/* Alignment */

.float-right {
    float: right;
}

/* Tags */
/* Additional tag stylings */

.tag-keyword {
    font-size: 14px;
    padding: 0.25rem 0.5rem 0.25rem 0.75rem;
    margin-bottom: 0.5rem;
}

.tag-wordpack {
    font-size: 14px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.tag-wordpack-checked {
    font-size: 14px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    background: #096dd9;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

/* Sidebar */

.ant-menu-item-group-title {
    font-size: 12px !important;
    font-weight: 700;
    padding: 12px 16px 4px !important;
}

/* Documentation */

.markdown-body code {
    color: #c0341d;
    background-color: #fbe5e1;
}

.markdown-body pre {
    background-color: rgb(41, 45, 62);
}

.markdown-body pre>code {
    color: rgb(191, 199, 213);
}